/*-- Body Reset --*/
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #616971;
}

/*============= TOP BAR HEADER =============*/
.top-bar {
  background:  #7aaec4;
  height:  2,8rem;
  padding: .5rem 0;
}

.top-bar a {
  color: white;
  text-decoration: none;
  font-size: 1,1rem;
}


/*============= NAVIGATION =============*/

.nav-brand img{
  height: 3rem;
}
.nav-brand{
  color: #3792cb;
  font-size: 2rem;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: .1rem;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .5);
  z-index: 1;
}

.nav-item{
  padding: 0.5rem;
}

.nav-link{
  color: black !important;
}
.nav-link.active, 
.nav-link:hover{
  color: #3792cb !important;
  border-bottom: black 1.5px solid;
}

/*============= CAROUSEL =============*/
#carousel{
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .5) ;
}

.carousel-inner {
  max-height: 38rem !important;
}

/*---Change Carousel Transition Speed --*/
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  transition: transform 2.2s ease;
}

/*-- Carousel Content --*/

.carousel-caption {
  
  position: absolute;
  top: 15%;
  transform: translateY (-50%);
  text-transform: none;
  
}



.bg-custom {
  background-color: rgba(0, 0, 0, .5);
  color: white;
  border-radius: 1rem;
  text-shadow: .5rem .5rem .5rem rgba(0, 0, 0, .5);
}

.carousel-caption h1{
  font-size: 2rem;
  
}

.border-primary {
  border-top: .2rem solid #7aaec4 !important;
}

/*===== FIXED BACKGROUND IMG =====*/

.fixed {
  background-color: #7aaec4;
  
}

.fixed-background{
  padding: 3rem 0;
}

.fixed-background.second{
  padding: 1rem 0;
}

.row1 {
  padding-left: 10%;
}
.row2{
  text-align: center;
}

.container2 {
  background-color: #7aaec4;
  padding-left: 10%;
  color: white;
  font-weight: 600;
}

.col-lg-8 {
  padding-left: 20%;
}

.col-sm-3.my-4.desc {
    border-right: 0.1rem solid #7aaec4;
}




.description{
  font-size: 1.5rem;
}

.description2{
  font-size: 1rem;
  text-align: justify;
}




/*============= FOOTER =============*/
.container3{
  background-color: grey;
  color: white;
}

.website{
  color: white;
}


.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }



/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {

}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {

}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}